<VirtualHost *:{{ listen_port }}>
    ServerName {{ server_name }}
    ServerAlias {{ server_alias }}
    DocumentRoot {{ document_root }}
    
    <Directory {{ directory_path }}>
    Option FollowSymLinks
    Require all granted
    </Directory>
    
    ErrorLog {{ error_log_path }}{{ error_log_name }}
    CustomLog {{ custom_log_path }}{{ custom_log_name }} common
</VirtualHost>